ol {
    margin: 20px;
    padding: 10px 10px 10px 30px;
    border-radius: 5px;
    background-color: #f88;
    width: 300px;
}

div {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #aaff00;
    width:300px;
}